@import './global.css';


.section__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section__item {
    width: 500px;
    padding: 15px;
    /* border: 1px red solid; */

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
}

.section__item-objects {
    /* border: 1px pink solid; */
    display: flex;
    flex-direction: row;
    background-color: white;
    flex-grow: 1;
    flex-basis: 0;
    gap: 10px;
}


/* -------knob-------- */

.section__item-objects__knob {
    /* border: 1px black solid; */
    width: 100px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-start;

}

.section__item-objects__knob-header {
    /* border: 1px black solid; */
}

.section__item-objects__knob-img {
    /* border: 1px black solid; */
}

/* ------------------ */

.section__item-objects__text {
    border-left: 1px black solid;
    border-right: 1px black solid;
    width: 100%;
    height: 100%;
    padding-left: 20px;

}



.section__item-objects__overlay {
    border: 1px blue solid;
    position: absolute;
    left: 125px;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: 
    height 2s;
}



/* .section__item-objects__knob:hover + .section__item-objects__overlay {
    height: 0;
}


.section__item-objects__knob:hover + #test {
    top: 0;
    bottom: 0;
} */

#test {
    border: 1px purple solid;
    /* margin-left: 25px; */
    width: 400px;
    height: 100%;

    position: absolute;
    left: 100px;
    /* top: 100px; */
    bottom: 0;
    transition: 
    top 2s;

}



 .section-item-objects-meter {
    height: 0;
    transition: 
    height 2s;
}


.section__item-objects__text li {
    margin-left: 20px;
    line-height: 1.4;
}


h2 {
    text-align: center;
    font-size: 14px;
}

h3 {
    margin-bottom: 5px;
    margin-top: 10px;
}

h4 {
    margin-bottom: 5px;
    font-size: 16px;
}

ul:nth-child(2) {
    margin-top: 10px;
}


.topic-text {
    position: absolute;
    /* border: solid 1px black; */
    padding: 15px;
    line-height: 1.4;
    background-color: antiquewhite;
}

.grid {
    display: grid;
    grid-template-columns: 100px 15px 1fr;
    grid-template-rows: auto;
    column-gap: 5px;
    row-gap: 10px;
    padding: 15px;
    border: 1px solid black;

}

.grid__knob img {
    width: 100px;
}

.grid > * {
    /* border: 1px solid black; */
}

.grid p, article {
    padding: 10px;
}